@import "tailwindcss";

@theme {
  --color-blue-900: #0B0D17;
  --color-blue-300: #D0D6F9;

  --font-barlow: "Barlow", sans-serif;
  --font-barlow-cond: "Barlow Condensed", "Barlow", sans-serif;
  --font-bellefair: "Bellefair", Arial;
  --text-base: 15px;
  --leading-base: 180%;
  --leading-auto: 100%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Barlow", sans-serif;
}